@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<p><strong>Welcome to The Pep Rally & Bonfire</strong></p>
<p><strong>Name:</strong> Chandler Blunt</p>
<p><strong>Section #:</strong> 0001</p>

<!--used to add a link to another page-->

<p>
    <a asp-page="/signup">signup</a>
</p>